<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92735642268-n5dnu8pqs3tacd3bd5qih7ik2jo9buaa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92735642268-n5dnu8pqs3tacd3bd5qih7ik2jo9buaa</string>
	<key>API_KEY</key>
	<string>AIzaSyD5u_Je_z9reaer-gJq6rqQjb4wgQnTjU4</string>
	<key>GCM_SENDER_ID</key>
	<string>92735642268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.animal.controle.madalozzo.flutterAppFirebase</string>
	<key>PROJECT_ID</key>
	<string>fbtest-805c2</string>
	<key>STORAGE_BUCKET</key>
	<string>fbtest-805c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92735642268:ios:9ba6c66dba06a509626b59</string>
	<key>DATABASE_URL</key>
	<string>https://fbtest-805c2.firebaseio.com</string>
</dict>
</plist>